:root{
    --mainColor: #eaeaea;
    --secondaryColor: #f0ead6;

    --borderColor: #c1c1c1;


    --mainText: black;
    --secondaryText: #4b5156;

    --themeDotBorder: rgb(18, 19, 0);

    --previewBg: rgb(251, 249, 243, 0.8);

    --previewShadow: #f0ead6;

    --buttonColor: black;
}

