/* https://coolors.co/2c3e50-e74c3c-ffffff-3498db-95a3b3 */

/* ========================
Utilities
======================== */



@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);




:root{
  --mainColor: #eaeaea;
  --secondaryColor: #fff;

  --borderColor: #c1c1c1;



  --mainText: black;
  --secondaryText: #4b5156;

  --themeDotBorder: #24292e;

  --previewBg: rgb(251, 249, 243, 0.8);

  --previewShadow: #f0ead6;

  --buttonColor: black;
  --buttonColor2: black;
}




* {
    box-sizing: border-box;
  }
  
  .cf::before,
  .cf::after {
      content: "";
      display: table; 
  }
  
  .cf::after {
      clear: both;
  }
  
  html {
    position: relative;
  }
  
  img {
    max-width: 100%;
  }
  
  /* ========================
  Global
  ======================== */
  
  body {
    color: #444;
    font-family: 'Goldman', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  p,li, span, label{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;

}
textarea, input{
    font-family: 'Roboto Mono', monospace;
}
  
  h1, h2, h3, h4, h5, h6, ul, ol, p {
    margin-top: 0;
  }

  h1,h2,h3,h4,h5,h6, strong{
    color: var(--mainText);
    font-family: 'Goldman', sans-serif;
    font-weight: 500;
}
h1 { font-size:  56px;}
h2 { font-size:  36px;}
h3 { font-size:  28px;}
h4 { font-size:  24px;}
h5 { font-size:  20px;}
h6 { font-size:  16px;}
  

  
  p {
    line-height: 1.5;
  }
  
  a, a:hover, a:focus, a:active {
      color: var(--buttonColor);
    }
  
  /* ========================
  Containers
  ======================== */
  
  .container-fluid {
    padding: 0 1em;
  }
  
  .container {
    margin: 0 auto;
    max-width: 996px;
  }
  
  /* ========================
  Navigation
  ======================== */
  
  @keyframes show-header {
      0% {
          top: -4em;
          opacity: 0;
      }
      100% {
          top: 0;
          opacity: 1;
      }
  }
  
  nav {
    background-color: #fff;
    box-shadow: 0 2px 2px rgba(0,0,0,.45);
    position: relative;
    top: 0;
  }
  
  nav a, nav a:hover, nav a:focus,  nav a:active, nav a:visited {
    text-decoration: none;
  }
  
  nav .brand {
    display: inline-block;
    float: left;
    font-size: 1.25em;
    font-weight: 900;
  }
  
  nav .brand a {
    color: #444;
    display: block;
    padding: 1em 0;
  }
  
  nav .nav-toggle {
    color: #444;
    cursor: pointer;
    display: inline-block;
    float: right;
    font-size: 1.25em;
    padding: 1em 0;
    z-index: 1000
  }
  
  nav ul {
    border-top: 1px solid #ccc;
    clear: both;
    list-style: none;
    margin: 0 -1em;
    padding: 0;
    z-index: 999;
  }
  
  nav ul li {
    border-bottom: 1px solid #ccc;
    text-align: center;
  }
  
  nav ul li a {
    color: #444;
    display: block;
    padding: .75em;
  }
  
  nav.sticky {
    animation: show-header .5s ease;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
  }
  
  /* ========================
  Sections
  ======================== */
  
  .splash {
    background: linear-gradient(rgba(44, 62, 80, 0.65), var(--mainColor)),
                  url("https://images.unsplash.com/photo-1535136104956-115a2cd67fc4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxyYW5kb218MHx8dGVjaG5vbG9neXx8fHx8fDE2NTc3NjE0NzY&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1080") no-repeat fixed center;
      background-size: cover;
      color: #fff;
  }
  
  .splash .container {
    padding-top: 25vh; /* No JS fallback*/
    padding-bottom: 25vh; /* No JS fallback*/
  }
  
  .profile-image {
    border-radius: 60%;
    display: block;
    max-width: 250px;
    margin: 0 auto 1em;
    width: 100%;
  }
  
  .splash h1 {
    font-size: 3em;
    margin-bottom: .15em;
    text-align: center;
  }
  
  .splash .lead, .splash .continue {
    display: block;
    text-align: center;
  }
  
  .splash .lead {
    font-size: 1.5em;
    font-weight: 100;
    margin-bottom: 1em;
  }
  
  .splash .continue {
    font-size: 4em;
  }
  
  .splash .continue a {
    border: 4px solid #fff;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    text-decoration: none;
    width: 80px;
  }
  .splash .continue a:hover {
    background-color: rgba(255, 255, 255, .25);
  }
  
  .intro .container, .features .container, .portfolio .container, .contact .container {
    padding: 5em 0;
  }
  
  .intro, .features, .portfolio, .contact {
    text-align: center;
  }
  
  .intro {
    background-color: var(--secondaryColor);
    color: #fff;
  }
  
  .intro a, .intro a:hover, .intro a:focus, .intro a:active, .intro a:visited {
    color: #fff;
  }
  
  .features img {
    display: block;
    margin: 0 auto 1em;
    max-width: 200px;
  }
  
  .features .col-3 {
    margin: 3em auto;
    width: 100%;
  }
  
  .portfolio {
    background-color: var(--secondaryColor);
    color: #fff;
  }

  #skill-card{
    border: .5px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    -maz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  }
  
  .gallery-item:hover{
    background-color: var(--mainColor);
    opacity: 1;
    cursor: pointer; z-index: 4; 
    width: 100%; height: auto;
  }

  .gallery-item{
    background-color: var(--mainColor);
    opacity: .8;
    margin: 0; width: 95%; 
    height: auto; transition: .5s; 
    display: inline-block; 
    position:relative ; overflow: hidden; 
  }

  .gallery .gallery-image {
    margin: 1em auto;
    width: 100%;
  }
  
  .gallery .gallery-image img {
    background-color: #000000;
    border-radius: 4px;
    display: block;
    height: auto;
    padding: 6px;
    width: 100%;
  }



/*Start Blog Page Area*/

.blog{
  display: flex;
}



.blog_area {
  background-color: var(--mainColor);
  padding: 50px 0 80px 0;
}

.blog_title h2 {
  border-bottom: 8px solid var(--themeDotBorder);
  margin-bottom: 80px;
  padding-bottom: 15px;
}

.ind_blog {
  background-color: var(--secondaryColor);
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  border:  .5px solid var(--themeDotBorder);
}

.ind_blog article {
  padding: 10px;
}

.ind_blog article header h2 {
  font-size: 24px;
  line-height: 1.5em;
  color: var(--themeDotBorder);
}

.ind_blog article header ul li {
  margin-bottom: 15px;
  color: var(--themeDotBorder);
}

.ind_blog article header ul li a , a:hover, a:focus, a:active{
  color: var(--buttonColor);
}

.blog_news p {
  color: var(--themeDotBorder);
  text-align: justify;
}


.blog_news_cat small {
  color: var(--themeDotBorder);
}

.blog-cap{
  color: var(--themeDotBorder);
}


.btn_outline  {
  padding: .65em 6.25em!important;
  font-size: inherit!important;
  color: #20515b!important;
  background: transparent!important;
  border-color: var(--themeDotBorder)!important;
  border-radius: .25em!important;
}

.blog_see_all {
  padding-top: 50px;
}

.blog_see_all a:hover {
  background: #20515b;
  color: #ffffff;
}


.blog_news_footer_wrapper{
  padding-left: 1px!important;
}


/*End Blog Page Area*/






  
  #contact{
    background-color: var(--secondaryColor);
  }
  .contact form {
    background-color: var(--mainColor);
    border-radius: 4px;
    border-top: 8px solid var(--themeDotBorder);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
    padding: 1em;
  }
  
  .contact form input, .contact form textarea {
    border: none;
    border-radius: 4px;
    display: block;
    margin-bottom: 1em;
    padding: 1em;
    width: 100%;
  }
  
  .contact form textarea {
    height: 6em;
  }
  
  .contact form input[type="submit"] {
    background-color: var(--buttonColor);
    border-radius: 0;
    color: #fff;
    padding: 1em;
    text-transform: uppercase;
  }


  
  
  /* ========================
  Footer
  ======================== */
  
  .footer {
    background-color: var(--previewShadow);
    color:  var(--secondaryColor);
    font-size: 1.5em;
    text-align: center;
  }
  
  .footer .container {
    padding: 1em 0;
  }
  
  .footer a {
    color: var(--mainText);
    margin-right: 1em;
  }
  
  .footer a:last-of-type {
    margin-right: 0;
  }
  
  /* ========================
  Media Queries
  ======================== */
  
  @media (min-width: 768px) {
    
    nav .nav-toggle {
      display: none;
    }
    
    nav ul {
      border: none;
      clear: none;
      display: inline-block !important;
      float: right;
      margin: 0;
      padding: 25px 0;
    }
    
    nav ul li {
      border: none;
      display: inline-block;
      float: left;
      margin-right: 1.5em;
    }
    
    nav ul li:last-of-type {
      margin-right: 0;
    }
    
    nav ul li a {
      padding: 0;
    }
    
    .splash h1 {
      font-size: 6em;
    }
    
    .splash .lead {
      font-size: 3em;
    }
    
    .features .col-3 {
      float: left;
      margin: 2em 5% 0 0;
      padding: 0 1em;
      width: 30%;
    }
    
    .features .col-3:last-of-type {
      margin-right: 0;
    }
    
    .gallery .gallery-image {
      float: left;
      margin-right: 2.5%;
      width: 31.6666666667%;
    }
    
    .gallery .gallery-image:nth-of-type(3n) {
      margin-right: 0;
    }
    
    .contact form {
      padding: 3em 2em 2em;
    }
    
    .contact form input[type="submit"] {
      padding: 1em 3em;
      width: auto;
    }
    
    .contact form input.full-half {
      float: left;
      margin-right: 2.5%;
      width: 48.75%;
    }
    
    .contact form input.full-half:nth-of-type(2n) {
      margin-right: 0;
    }
    
    .contact form textarea {
      height: 12em;
    }
    
  }






  #skills{
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    color: var(--mainText);
}
#skill-item{
  padding-bottom: 7px;
  font-size: .8em;
  color: var(--mainText);

}
#skill-top-item{
  padding-bottom: 2px;
  font-size: .8em;
  color: var(--mainText);

}
#skill-sub-item{
  font-size: .65em;
  margin: 0;
  color: var(--mainText);

}
#skills-text{
  font-size: .825em;
  color: var(--mainText);
}

#programming-experience-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


#theme-options-wrapper{
  display: flex;
  justify-content: center;
}

.theme-dot{
  height: 30px;
  width: 30px;
  background-color: black;
  border-radius: 50%;

  margin: 5px;
  border: 2px solid var(--themeDotBorder);

  -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  -maz-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);

  cursor: pointer;
}

.theme-dot:hover{
  border-width: 5px;
  transition: 0.3s;
}

#light-mode{
  background-color: #fff;

}

#blue-mode{
  background-color: #192734;

}

#green-mode{
  background-color: #78866b;

}

#purple-mode{
  background-color: #7E4C74;

}

#settings-note{
  font-size: 12px;
  font-style: italic;
  text-align: center;

}

#post-text{
  color: var(--mainText);
}
#modal-content-wrap{
  background-color: var(--mainColor);
}

.modal-header-text{
  color: var(--mainText);

}

















  /*Web media queries****************************/

  @media screen and (min-width: 50rem) {

    .blog{
        flex-direction: row;
    }
   
  
  }





  /******************************/

  /*"In between" area media queries (Some Tablets)****************************/
  @media screen and (min-width: 768px) and (max-width: 800px) {

    .blog{
        flex-direction: row!important;
    }
   
  
  }
  /******************************/





  /*Mobile media queries******************************/
  @media screen and (max-width: 49.999rem) {

    .blog{
        flex-direction: column;
    }
   
  
  }

    /******************************/
















  